html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $secondary-color;
  }
  
  p {
    font-size: 1.25rem;
    color: $secondary-color;
  }

  a {
    font-size: 1.3rem;
    color: $primary-color;
    list-style: none;
  }

  img {
    padding-left: 30px;
    height: 350px;
    width: 550px;
  }
  
  ul {
    font-size: 1.3rem;
    list-style: none;
  }
  
  .container {
    min-height: 100%;
    display: flex;
  }

  a:link { 
    background-color: none;
    text-decoration: none;
  }

  a:visited { 
    color: $primary-color;
}

  a:hover {
    text-decoration: underline;
}

li {
    list-style: none; 
}